@charset "ISO-8859-1";




/* form styling */

label { 

margin-right: .3em; 

width: 6.3em;  /* I made this deliberately wide – come up with your own optimal width */ 

display: inline-block; /* width will not work for “inline” elements such as “label”. Therefore we need to set it to “inline-block” */ 

} 

#wrapper {
	width: 60%;
	margin-left:4%;
}

div#formcol1 {
	
	float:left;	
	width: 100%;
}

div#formcol1 label {
	float:left;
	width:8.3em;
	text-align:left;
	display:block;
	padding-right:.3em;	
	background:#E0E0DD;
	clear:right;
	}
	

div#formcol1 ul li {
	list-style-type:none;
	margin-left:-2em;
	margin-bottom:.4em;
	}

	
div#formcol1 input {
	
	margin-left:1.5em;
	text-align:left;
	display:block;
	clear:right;
	background-color:#F4F4F4;
	}


/* div for radio buttons and check boxes */

#multchoice {
	clear:left;
	margin-left:.5%;	
}

#multchoice input, #multchoice span {
	float:left;
}

#multchoice span {	
	margin: 0 3pm;
}

.submit-button {
	margin:2em 0;
	float:right;
	width:70%;
}


		

/* end of form css */
	
